//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#include	<resource.h>
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#define	ICO_MAIN	1000
#define	DLG_MAIN	2000
#define IDC_SERVER	2001
#define IDC_USER	2002
#define IDC_PASS	2003
#define IDC_LOGIN	2004
#define IDC_LOGOUT	2005
#define IDC_INFO	2006
#define IDC_TEXT	2007
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
ICO_MAIN	icon	"Main.ico"
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
DLG_MAIN DIALOG 94, 81, 245, 168
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "TCP聊天－客户端"
FONT 9, "宋体"
{
 LTEXT "服务器IP地址", -1, 6, 7, 53, 8
 EDITTEXT IDC_SERVER, 63, 5, 116, 12
 LTEXT "用户名", -1, 6, 22, 28, 8
 EDITTEXT IDC_USER, 35, 20, 59, 12
 LTEXT "密码", -1, 99, 22, 19, 8
 EDITTEXT IDC_PASS, 120, 20, 59, 12
 PUSHBUTTON "登录(&L)", IDC_LOGIN, 185, 4, 56, 14, WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "注销(&X)", IDC_LOGOUT, 185, 19, 56, 14, WS_DISABLED | WS_TABSTOP
 LISTBOX IDC_INFO, 4, 38, 237, 110, LBS_STANDARD
 LTEXT "输入", -1, 6, 153, 19, 8
 EDITTEXT IDC_TEXT, 28, 151, 150, 12, ES_AUTOHSCROLL | WS_DISABLED | WS_BORDER | WS_TABSTOP
 DEFPUSHBUTTON "发送(&S)", IDOK, 185, 150, 56, 14, BS_DEFPUSHBUTTON | WS_DISABLED | WS_TABSTOP
}
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
