//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#include		<resource.h>
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#define	ICO_MAIN		1000
#define	IDA_MAIN		2000
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#define	IDM_MAIN		2000
#define	IDM_NEW			2101
#define	IDM_OPEN		2102
#define	IDM_SAVE		2103
#define	IDM_SAVEAS		2104
#define	IDM_PAGESETUP	2105
#define	IDM_EXIT		2106
#define	IDM_UNDO		2201
#define	IDM_REDO		2202
#define	IDM_SELALL		2203
#define	IDM_COPY		2204
#define	IDM_CUT			2205
#define	IDM_PASTE		2206
#define	IDM_FIND		2207
#define	IDM_FINDPREV	2208
#define	IDM_FINDNEXT	2209
#define	IDM_FONT		2301
#define	IDM_BKCOLOR		2302
#define	IDM_TOOLBAR		2303
#define	IDM_STATUSBAR	2304
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
ICO_MAIN	ICON		"Main.ico"
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
IDM_MAIN	menu	discardable
BEGIN
	popup	"文件(&F)"
	BEGIN
		menuitem	"新建文件(&N)...\tCtrl+N",	IDM_NEW
		menuitem	"打开文件(&O)...\tCtrl+O",	IDM_OPEN
		menuitem	"保存文件(&S)\tCtrl+S",		IDM_SAVE
		menuitem	"文件另存为(&A)...\tCtrl+Alt+S",IDM_SAVEAS
		menuitem	separator
		menuitem	"打印 [暂未提供]",	-1,	GRAYED
		menuitem	"页面设置(&P)...",		IDM_PAGESETUP
		menuitem	separator
		menuitem	"退出(&X)",		IDM_EXIT
	END
	popup	"编辑(&E)"
	BEGIN
		menuitem	"撤销(&Z)\tCtrl+Z",	IDM_UNDO
		menuitem	"重复(&Y)\tCtrl+Y",	IDM_REDO
		menuitem	separator
		menuitem	"全选(&A)\tCtrl+A",	IDM_SELALL
		menuitem	"拷贝(&C)\tCtrl+C",	IDM_COPY
		menuitem	"剪切(&X)\tCtrl+X",	IDM_CUT
		menuitem	"粘贴(&V)\tCtrl+V",	IDM_PASTE
		menuitem	separator
		menuitem	"查找(&F)...\tCtrl+F",	IDM_FIND
		menuitem	"查找上一个(&P)\tF2",IDM_FINDPREV
		menuitem	"查找下一个(&N)\tF3",IDM_FINDNEXT
	END
	popup	"查看(&V)"
	BEGIN
		menuitem	"字体(&F)...",		IDM_FONT
		menuitem	"背景色(&B)...",	IDM_BKCOLOR
		menuitem	separator
		menuitem	"工具栏",			IDM_TOOLBAR
		menuitem	"状态栏",			IDM_STATUSBAR
	END
END
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
IDA_MAIN	accelerators
BEGIN
		VK_F2,	IDM_FINDPREV,VIRTKEY
		VK_F3,	IDM_FINDNEXT,VIRTKEY
		"N",	IDM_NEW,VIRTKEY,CONTROL
		"S",	IDM_SAVE,VIRTKEY,CONTROL
		"S",	IDM_SAVEAS,VIRTKEY,CONTROL,ALT
		"Z",	IDM_UNDO,VIRTKEY,CONTROL
		"Y",	IDM_REDO,VIRTKEY,CONTROL
		"A",	IDM_SELALL,VIRTKEY,CONTROL
		"C",	IDM_COPY,VIRTKEY,CONTROL
		"X",	IDM_CUT,VIRTKEY,CONTROL
		"V",	IDM_PASTE,VIRTKEY,CONTROL
		"F",	IDM_FIND,VIRTKEY,CONTROL
		"O",	IDM_OPEN,VIRTKEY,CONTROL
END
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
